/* app.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw; /* Säkerställ att det tar upp hela viewportens bredd */
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    90deg,
    #141e30,
    #243b55
  ); /* Din specifika blåa gradient */
  overflow-x: hidden; /* Förhindra horisontell scroll */
}

.categories-container {
  width: 100%; /* Ta upp hela bredden */
  min-height: 100vh; /* Se till att den tar upp hela höjden */
  background: inherit; /* Ärva bakgrunden från body om det behövs */
}
