.categories-container {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background: linear-gradient(90deg, #141e30, #243b55);
  display: flex;
  flex-direction: column;
}

/* Kategoriknappar */
.category-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 0;
  background: linear-gradient(90deg, #141e30, #243b55);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-button.active {
  background-color: #1463bd;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Gridlayout för filtrerade filmer */
.filtered-movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Filmerna anpassas automatiskt */
  gap: 16px; 
  justify-items: start; 
}

/* Titel för enskilda kategorier och för rubriken "Alla kategorier" */
.category-title,
.selected-category-title {
  font-size: 32px;
  font-weight: bold;
  color: aliceblue;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Swiper-sektioner för alla kategorier */
.category-section {
  margin-bottom: 60px;
}

/* Ipad */
@media (max-width: 768px) {
  .filtered-movies-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .category-button {
    padding: 10px 15px; 
    font-size: 14px; 
  }

  .category-title,
  .selected-category-title {
    font-size: 24px; 
  }

  .swiper {
    padding: 10px; 
  }

  .swiper-slide {
    width: auto; 
  }
}


/* mobil*/
@media (max-width: 480px) {
  .categories-container {
    padding-left: 5px;
  }
    .filtered-movies-grid {
      grid-template-columns: repeat(2, 1fr); 
      gap: 16px;
    }
  
    .movie-card {
      height: 400px; 
    }
  
  

  .movie-card img {
    height: 200px;
  }

  .movie-card-actions {
    flex-direction: row;
    justify-content: space-around; 
  }

  .category-title,
.selected-category-title { 
  margin-left: 0px;
  margin-right: 5px;
}

}