/* Swiper container style */
.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
h2 {
    font-size: 25px;
    color: white;
}
h3.movie-card-title {
    font-size: 15px;
    color: white;
    white-space: normal; /* Tillåter radbrytning */
    overflow-wrap: break-word; /* Bryter ord som är för långa */
    /* Ta bort följande egenskaper om de finns */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

  
  
  /* Swiper navigation buttons */
  .swiper-button-prev,
  .swiper-button-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 10px;
    z-index: 2;
  }
  
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Swiper pagination dots */
  .swiper-pagination-bullet {
    background-color: white;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ffcc00;
  }
  
  /* Responsiv design för Swiper */
  @media (max-width: 768px) {
    .carousel-container {
      padding: 0 20px;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel-container {
      padding: 0 10px;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      padding: 6px;
      font-size: 12px;
    }
  
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }
  
    .swiper-pagination-bullet-active {
      background-color: #ffcc00;
    }
  }
  