.movie-card {
  background-color: #141414;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 16px;
  height: 500px;
  margin-bottom: 35px;
}

.movie-card img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.movie-card h3 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin: 4px 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.movie-info {
  margin: 10px 0;
  font-size: 0.9rem; /* Mindre textstorlek för åldersgräns och år */
  color: white;
}

.movie-info p {
  margin: 5px 0;
}

.movie-card-actions {
  display: flex;
  justify-content: space-between; /* Sprider ut ikonerna */
  width: 80%;
  padding: 10px;
}

/* Stil för knapparna */
.movie-card-actions button {
  background-color: transparent;
  border: 1px solid #e0e0e0; /* Lägg till border runt varje knapp */
  border-radius: 5px; /* Rundade hörn på knapparna */
  cursor: pointer;
  font-size: 1.5rem; /* Standardstorlek på ikonerna */
  color: #e0e0e0;
  padding: 6px 10px;
  transition:
    background-color 0.2s,
    color 0.2s,
    border 0.2s;
}

/* Hover-effekt för knapparna */
.movie-card-actions button:hover {
  background-color: #e50914;
  color: #ffffff;
  border: 1px solid #e50914;
}

/* Specifik stil för hjärtikonen */
.movie-card-actions .heart-button svg {
  color: #ff0000;
  font-size: 1.5rem;
}

/* Specifik stil för bokmärkesikonen */
.movie-card-actions .bookmark-button svg {
  color: #ffcc00;
  font-size: 1.5rem;
}

/* Specifik stil för ellipsis-ikonen */
.movie-card-actions .ellipsis-button svg {
  color: #e0e0e0;
  font-size: 1.5rem;
}

/* Justera positionen av ikonerna */
.movie-card-actions .heart-button {
  margin-left: 10px;
}

.movie-card-actions .bookmark-button {
  margin-right: 10px;
}

/* Responsiv design för mobiler och iPads */
@media (max-width: 480px) {
  .movie-card {
    min-height: 500px; /* Se till att alla kort har minst denna höjd */
    max-height: 500px; /* Begränsa höjden så alla kort blir lika höga */
    margin: 8px;
    margin-bottom: 30px;
  }

  .movie-card img {
    height: auto;
  }

  .movie-card h3 {
    font-size: 1rem;
    margin: 8px 0;
  }

  .movie-card-actions {
    width: 100%;
    padding: 10px;
  }

  .swiper-slide .movie-card {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin-right: 5px;
  }
}
