/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal innehåll */
.movie-modal {
  background: linear-gradient(90deg, #1c2a3a, #2f4a6b);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 700px; /* Gör modalen lite bredare */
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

/* Justera bildens storlek */
.movie-modal img {
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 600px;
  border-radius: 5px;
  padding-top: 0px;
  margin-bottom: 20px;
}

/* Textinnehållet i modalen */
.movie-modal .modal-content {
  width: 80%;
  text-align: left;
}

/* Rubrik */
.movie-modal h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

/* Paragraferna */
.movie-modal p {
  margin-bottom: 10px;
  line-height: 1.5;
  display: flex;
}

/* Titlarna i paragraferna */
.movie-modal p strong {
  min-width: 120px;
  display: inline-block;
}

/* Stäng-knapp */
.close-button {
  position: absolute;
  top: 0px;
  right: 2px;
  border: none;
  background: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
/* Ikonsektionen under bilden */
.movie-modal-actions {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
}

/* Stil för knapparna */
.movie-modal-actions button {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s,
    border 0.2s;
  flex: 1;
  margin: 0 5px;
  text-align: center;
}

/* Specifik stil för hjärtikonen */
.heart-button svg {
  color: red;
}

/* Specifik stil för bokmärkesikonen */
.bookmark-button svg {
  color: #ffcc00;
}

/* Specifik stil för ellipsis-ikonen */
.ellipsis-button svg {
  color: #e0e0e0;
}

/* Responsiv design för mindre skärmar */
@media (max-width: 768px) {
  .movie-modal {
    max-width: 100%;
  }
  .movie-modal .modal-content {
    width: 90%;
    text-align: left;
  }
  .movie-modal img {
    width: 100%;
    max-height: 250px;
  }
}
