.navbar {
  display: flex;
  justify-content: space-between; /* Placera länkar till vänster och ikoner till höger */
  align-items: center;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Länkarna till vänster */
.navbar div.links {
  display: flex;
  gap: 20px; /* Avstånd mellan länkarna */
  order: 1;
  justify-content: flex-start; /* Placera länkarna åt vänster */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  position: relative;
  background: linear-gradient(45deg, #b6dbe2, #3587a0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease,
    font-size 0.3s ease;
}

.navbar a:hover {
  transform: scale(1.2); /* Förstora länken vid hover */
  font-size: 1.4rem; /* Ändra textstorlek för att märkbart förstora texten */
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Lägg till en tydlig skugga för lyfteffekt */
  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease,
    font-size 0.3s ease;
}

/* Ikonerna (sök och bokmärken) till höger */
.navbar .icons {
  display: flex;
  align-items: center;
  gap: 15px;
  order: 2;
  justify-content: flex-end; /* Placera ikonerna åt höger */
}

.bookmark-icon {
  display: flex;
  align-items: center;
  color: yellow;
  transition:
    transform 0.2s ease,
    fill 0.2s ease;
}

.bookmark-icon:hover {
  transform: scale(1.2);
  color: orange;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
  color: white;
  margin-right: 10px;
}

.search-field {
  display: none; /* Gömd som standard */
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease;
}
.search-field input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 4px;
  background-color: rgb(51, 47, 47); /* Ännu mörkare fält för själva input */
  color: #f0f0f0; /* Ljus textfärg i inputfältet */
}

/* när sök input fälls ut */
.search-field.active {
  display: block;
}

.search-results {
  position: absolute;
  top: 50px;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-results li a {
  text-decoration: none;
  color: black;
}

.search-results li:hover {
  background-color: #f1f1f1;
}

/* Mobil vy */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    justify-content: flex-start;
  }

  .navbar div.links {
    gap: 5px; /* Minska mellanrummet mellan länkarna */
  }

  .navbar a {
    font-size: 1rem;
    padding: 0.4rem 0.6rem; /* Anpassa padding för att få mer plats */
  }

  .navbar div.icons {
    gap: 10px;
  }

  .navbar a {
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
  }

  .search-icon {
    width: 20px;
    height: 20px;
    margin-right: 0;
  }

  .bookmark-icon {
    width: 20px;
    height: 20px;
  }

  .search-field {
    position: static;
    width: 100%;
    margin-top: 10px;
  }
}

/* iPad och mindre laptops */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }

  .navbar div.icons {
    gap: 2px;
  }

  /* Minska mellanrummet mellan länkarna */
  .navbar div.links {
    gap: 5px;
  }

  .navbar a {
    font-size: 1rem;
    padding: 0.4rem 0.6rem; /* Anpassa padding för att få mer plats */
  }

  .search-icon,
  .bookmark-icon {
    width: 24px;
    height: 24px;
  }
}
